<div class="user-form">
    <h2><strong style="font-family: sans-serif; font-size: small">User Profile :</strong></h2>

    <form [formGroup]="userForm" (ngSubmit)="submit()">

        <!-- BASIC INFO -->
        <div class="grid">

            <div class="form-group">
                <label>First Name</label>
                <input formControlName="firstName" placeholder="First Name">
            </div>
           <div class="form-group">
               <label>Last Name</label>
               <input formControlName="lastName" placeholder="Last Name">
           </div>

            <div class="form-group">
                <label>Phonen Number</label>
                <input formControlName="phone" placeholder="Phone Number">
                <small *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid"
                       class="error">
                    Enter valid 10-digit phone
                </small>
            </div>


            <div>
                <label>Skills</label>
                <input formControlName="skills" placeholder="Skills (comma separated)">
            </div>


        </div>

        <br>

        <label><strong style="font-family: sans-serif; font-size: small">About :</strong></label>
        <ckeditor
                [editor]="Editor"
                formControlName="about">
        </ckeditor>


        <!-- ADDRESS -->
        <h3><strong style="font-family: sans-serif; font-size: small">Address :</strong>  </h3>
        <div formGroupName="address" class="grid">
           <div>
               <label for="">Country</label>
               <input formControlName="country" placeholder="Country">
           </div>
           <div>
               <label for="">state</label>
               <input formControlName="state" placeholder="State"></div>
           <div>
               <label>City</label>
               <input formControlName="city" placeholder="City">
           </div>
           <div>
               <label>Street</label>
               <input formControlName="street" placeholder="Street">
           </div>
          <div>
              <label for="">Zip Code</label>
              <input formControlName="zip" placeholder="ZIP Code">
          </div>
        </div>

        <h3><strong style="font-family: sans-serif; font-size: small">Education :</strong></h3>

        <div formArrayName="education" class="pt-3">

            <div  class="grid" *ngFor="let exp of education.controls; let i=index"
                 [formGroupName]="i">

           <div>
               <label for="">College/University Name</label>
               <input  formControlName="collegeName" placeholder="College Name">
           </div>

                <div>
                    <label for="">Degree</label>
                    <select formControlName="degreeType" class="w-full rounded-lg border px-3 py-2 text-sm
             focus:outline-none focus:ring-2 focus:ring-indigo-500
             focus:border-indigo-500
             disabled:bg-gray-100
             transition">
                        <option value="" disabled selected>Select Degree</option>
                        <option [value]="'PLUS_2'" >PLUS_2</option>
                        <option [value]="'BACHELOR'">BACHELOR</option>
                        <option [value]="'MASTER'">MASTER</option>
                        <option [value]="'PHD'">PHD</option>
                        <option [value]="'DIPLOMA'">DIPLOMA</option>
                        <option [value]="'OTHER'">OTHER</option>
                    </select>
                </div>

           <div>
               <label for="">Faculty</label>
               <input formControlName="faculty" placeholder="Faculty">
           </div>
          <div>
              <label for="">Start Date</label>
              <input type="date" formControlName="startDate" placeholder="Start Date">
          </div>
          <div>
              <label for="">End Date</label>
              <input type="date" formControlName="endDate" placeholder="End Date">
          </div>

              <div>
                  <label for="">Status</label>
                  <select formControlName="status" class="w-full rounded-lg border px-3 py-2 text-sm
             focus:outline-none focus:ring-2 focus:ring-indigo-500
             focus:border-indigo-500
             disabled:bg-gray-100
             transition">

                      <option value="" disabled selected>
                          Select Status
                      </option>
                      <option value="RUNNING">Running</option>
                      <option value="GRADUATED">Graduate</option>

                  </select>
              </div>

               <div class="pt-3">
                   <button *ngIf="i!=0" type="button" class="danger btn-sm" (click)="removeEducation(i)">
                       Remove
                   </button>
               </div>
        </div>
            <button type="button" (click)="addEducation()">+ Add Education</button>
        </div>
        <h3><strong style="font-family: sans-serif; font-size: small">Social Media :</strong> </h3>

        <div formArrayName="socialMediaLinks" class="pt-3">

            <div  class="grid" *ngFor="let exp of mediaLink.controls; let i=index"
                  [formGroupName]="i">
                <div>
                    <label for="">Media</label>
                    <select formControlName="mediaType" class="w-full rounded-lg border px-3 py-2 text-sm
             focus:outline-none focus:ring-2 focus:ring-indigo-500
             focus:border-indigo-500
             disabled:bg-gray-100
             transition">

                        <option value="" disabled selected>
                            Select Media
                        </option>
                        <option value="FB">Facebook</option>
                        <option value="INSTAGRAM">Instagram</option>
                        <option value="LINKEDIN">LinkedIn</option>
                        <option value="YOUTUBE">Youtube</option>
                        <option value="GITHUB">Git Hub</option>
                        <option value="TWITTER">Twitter</option>
                        <option value="PERSONAL_SITE">Personal Site</option>

                    </select>
                </div>

               <div>
                   <label for="">Media Link</label>
                   <input type="text" formControlName="link" placeholder="Link">
               </div>
               <div class="pt-4">
                   <button *ngIf="i!=0" type="button" class="danger btn-sm" (click)="removeMediaLink(i)">
                       Remove
                   </button>
               </div>

            </div>

        <div>

        <button type="button" (click)="addMediaLink()">+ Add Social Media</button>
</div>

        </div>

        <!-- EXPERIENCE -->
        <h3><strong style="font-family: sans-serif; font-size: small">Experience :</strong></h3>
        <div formArrayName="experience">
            <div  *ngFor="let exp of experience.controls; let i=index"
                 [formGroupName]="i">
              <div class="grid">
                  <div>
                      <label for="">Company</label>
                      <input formControlName="company" placeholder="Company">
                  </div>
                  <div>

                      <label for="">Position</label>
                      <input formControlName="position" placeholder="Position">
                  </div>

              </div>
                <div>

                    <label for="">Projects :</label>

                    <ckeditor
                            [editor]="Editor"
                            formControlName="projects">
                    </ckeditor>

                </div>
                <button type="button" class="danger" (click)="removeExperience(i)">
                    Remove
                </button>
            </div>
        </div>

        <button type="button" (click)="addExperience()">+ Add Experience</button>

        <!-- PROJECTS -->
        <h3><strong style="font-family: sans-serif; font-size: small">Projects :</strong></h3>
        <div formArrayName="projects">
            <div class="card" *ngFor="let p of projects.controls; let i=index"
                 [formGroupName]="i">
              <div class="grid">

                  <div>
                      <label>Company</label>
                      <input formControlName="company" placeholder="Company">
                  </div>

                  <div>
                      <label>Position</label>
                      <input formControlName="position" placeholder="Position">
                  </div>

                <div>
                    <label for="">Project Name</label>
                    <input formControlName="projectName" placeholder="Project Name">
                </div>


              </div>
                <br>
                <label>Project Description</label>
                <ckeditor
                        [editor]="Editor"
                        formControlName="projectDescription">
                </ckeditor>

                <button type="button" class="danger" (click)="removeProject(i)">
                    Remove
                </button>
            </div>
        </div>

        <button type="button" (click)="addProject()">+ Add Project</button>

       <div class="grid">
           <button class="danger submit-btn" type="button" (click)="location.back()">
              Cancel
           </button>

           <button class="submit-btn" type="submit">
               Update Profile
           </button>
       </div>

    </form>
</div>

<app-footer></app-footer>
<app-loader [show]="spin"></app-loader>